.advantages__item-img {
  background-color: $background-color-photo;
  min-height: 260px;
}

.advantages__img-pic {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .advantages__item-img {
    min-height: 256px;
  }
}
