
.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding-bottom: 21px;
  ;
}

.copyright__link {
  position: relative;
  display: block;
  color: $black;
  padding-right: 38px;
}

.copyright__logo {
  position: absolute;
  right: -1px;
  top: -4px;
  width: 27px;
  height: 34px;
  fill: $black;

  &:hover {
    fill: $background-btn;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }
}

//

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 36px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__hashtag {
    padding-top: 13px;
  }

  .copyright__text {
    padding-top: 13px;
    margin-left: 10px;
  }

  .footer__unit:nth-child(1) {
    margin-left: 61px;
  }

  .footer__unit:nth-child(3) {
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    margin-left: 3px;
  }

  .footer__unit:nth-child(1) {
    margin-left: 118px;
  }

  .footer__unit:nth-child(3) {
    margin-right: 120px;
  }
}
