.description {
  padding: 35px 20px 30px;
  border-bottom: 1px solid $border-color;
}

.description--form {
  padding-bottom: 15px;
}

.description--catalog {
  padding: 30px 20px 30px;
}

.description.description__content.description__content--index {
  padding: 35px 20px 10px;
}

@media (min-width: $tablet-width) {
  .description{
    padding: 33px 20px 57px;
  }

  .description--form {
    padding: 54px 162px 57px;
  }

  .description--catalog {
    padding: 54px 161px;
  }

  .description.description__content.description__content--index {
    padding-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  // .jumbotron.jumbotron--index {
  //   background-image: url("../img/index-back-desktop.jpg");
  //   background-repeat: no-repeat;
  //   background-position: 50% 0;
  //   background-size: cover;

  //   @media (min-resolution: 2dppx) {
  //     background-image: url("../img/index-back-desktop@2x.jpg");
  //   }
  // }

  .description {
    // padding: 36px 20px 15px;
    padding: 32px 20px 45px;
  }

  .description--form {
  padding: 78px 378px 57px;
  }

  .description.description__content.description__content--index {
    padding-bottom: 41px;
  }
}



.description__content {
  max-width: 450px;
  margin: 0 auto;

  &--form {
    max-width: 440px;
    margin: 0 auto;
  }

  &--catalog {
    max-width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .description__content {
    max-width: 490px;
    margin: 0 auto;
  }

  .description {
    border-bottom: none;
  }
}

.description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $font-color-title;
  padding: 0 10px 30px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .description__title{
    font-size: 21px;
    padding: 10px 10px 30px;
  }

  .description__title--form {
    font-size: 30px;
    padding-bottom: 33px;
  }

  .description__title--catalog {
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .description__title {
    padding: 22px 10px 30px;
  }

  .description__title--catalog {
    padding-bottom: 35px;
  }

}

.description__sublitle {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: $font-color-base;
  margin: 0;
}

//

.description__content--form .description__sublitle,
.description__content--catalog .description__sublitle  {
  line-height: 24px;
}

.description.description__content--form {
  padding-top: 35px;
  padding-bottom: 15px;
}

.description.description__content--catalog {
  padding-top: 31px;
}


@media (min-width: $tablet-width) {
  .description.description__content--form {
    padding-top: 51px;
    padding-bottom: 88px;
  }

  .description.description__content--catalog {
    padding-top: 53px;
    padding-bottom: 20px;
  }

}

@media (min-width: $desktop-width) {
  .description__content {
    // max-width: 440px;
    margin: 0 auto;
  }

  .description.description__content--form {
    padding-top: 90px;
    padding-bottom: 58px;
  }

  .description__title--form {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .description.description__content--catalog {
    padding-top: 78px;
    padding-bottom: 20px;
    margin-bottom: 58px;
  }

  .description__title--catalog {
      font-size: 30px;
    }
}
