.description {
  padding: 35px 20px 30px;
  border-bottom: 1px solid $border-color;
  // background-image: url(../img/white-copy-2.svg);
  // background-repeat: no-repeat;
  // background-size: 100% 20%, cover;
  // background-position: 0 100%;
  // background-color: blue;
}

@media (min-width: $tablet-width) {
  .description{
    padding: 35px 20px 53px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    padding: 36px 20px 40px;
  }
}

.description__content {
  max-width: 450px;
  margin: 0 auto;

  &--form {
    max-width: 440px;
    margin: 0 auto;
  }

  &--catalog {
    max-width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .description__content {
    max-width: 490px;
    margin: 0 auto;
  }

  .description {
    border-bottom: none;
  }
}

.description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $font-color-title;
  padding: 0 10px 30px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .description__title{
    font-size: 21px;
    padding: 10px 10px 30px;
  }
  //
}

@media (min-width: $desktop-width) {
  .description__title {
    padding: 22px 10px 30px;
  }
}

.description__sublitle {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: $font-color-base;
  margin: 0;
}

//

.description__content--form .description__sublitle {
  line-height: 24px;
}

.description.description__content--form {
  padding-top: 35px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .description.description__content--form {
    padding-top: 51px;
    padding-bottom: 88px;
  }
}

@media (min-width: $desktop-width) {
  .description.description__content--form {
    padding-top: 85px;
    padding-bottom: 58px;
  }

  .description__title--form {
    padding-bottom: 34px;
  }

  .description__title--catalog {
      font-size: 30px;
    }
}
