.footer {
  padding-top: 35px;
  display: flex;
  flex-direction: column;

  // &--catalog {
  //   padding-top: 94px;
  // }

}

.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color-title;
  padding-bottom: 33px;
  margin: 0;
}

.footer__unit {
  text-align: center;
}

.footer__unit:last-child {
  display: flex;
  justify-content: center;
}


// //

@media (min-width: $tablet-width) {
  .footer {
    // padding-top: 28px;
    padding-top: 36px;
    flex-direction: row;
    justify-content: space-between;

    // &--catalog {
    //   padding-top: 26px;
    // }
  }

  .footer__hashtag {
    padding-top: 13px;
  }

  .copyright__text {
    padding-top: 13px;
    margin-left: 10px;
  }

  .footer__unit:nth-child(1) {
    margin-left: 61px;
  }

  .footer__unit:nth-child(3) {
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  // .footer--catalog {
  //   padding-top: 72px;
  // }

  .copyright__text {
    margin-left: 3px;
  }

  .footer__unit:nth-child(1) {
    margin-left: 118px;
  }

  .footer__unit:nth-child(3) {
    margin-right: 120px;
  }
}
