// .gallerys {
//   margin: 0 20px;
// }

@media (min-width: $tablet-width) {
  .gallerys {
    // padding: 60px 0;
    padding-top: 57px;
    padding-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .gallerys {
    padding: 0;
  }
}
