/*header*/
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px 0;
  color: $white;
  background-color: $background-blue;

   @media (min-width: $tablet-width) {
  background-color: $background-body-base;
  }

   @media (min-width: $desktop-width) {
  background-color: $background-body-base;
  }
}

.header__navigation {
  // position: relative;
  padding-bottom: 56px;

}
@media(min-width: $tablet-width) {
  .header__navigation {
  padding-bottom: 0;
  }
}

.header__logo {
  position: absolute;
  min-height: 84px;
  width: 102px;
  text-align: center;
  bottom: -33px;
  // top: 233px;
  left: 50%;
  transform: translate(-50%);
  top: 0;

  @media (min-width: $tablet-width) {
  hight: 84px;
  }

   @media (min-width: $desktop-width) {
  hight: 97px;
  }
}

.header__menu {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  }

   @media (min-width: $desktop-width) {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  }
}

.header__menu a {
  color: $white;

  @media (min-width: $tablet-width) {
  color: $black;
  }

   @media (min-width: $desktop-width) {
  color: $black;
  }
}

.header__navigation-toggle {
  position: absolute;
  bottom: 17px;
  right: 20px;
  z-index:2;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
  display: none;
  }

   @media (min-width: $desktop-width) {
  display: none;
  }
}
