.jumbotron {
  background-color: $background-color-second;
  min-height: 159px;
}
// для мобильной
.jumbotron--index {
  min-height: 389px;
  background-image: url("../img/index-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 57px;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    background-size: 100% 100%;
    z-index: 10;
  }
}
// для планшета

@media (min-width: $tablet-width) {
  .jumbotron {
    min-height: 518px;
  }
  .jumbotron--index {
    min-height: 518px;
    background-image: url("../img/index-back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-back-tablet@2x.jpg");
      background-size: cover;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 57px;
      background-image: url("../img/intro-triangle-t.svg");
      background-repeat: no-repeat;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%);
      background-size: 100% 100%;
      z-index: 10;
    }
  }
}

// для десктопа
@media (min-width: $desktop-width) {
  .jumbotron {
    min-height: 518px;
  }

  .jumbotron--index {
    min-height: 518px;
    background-image: url("../img/index-back-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-back-desktop@2x.jpg");
      background-size: cover;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/intro-triangle-d.svg");
      background-repeat: no-repeat;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%);
      width: 1200px;
      height: 57px;
      z-index: 10;
    }
  }
}
// FORM****************************************************
// mobile
.jumbotron--form {
  background-image: url("../img/back-mobile.jpg");
  background-position-y: -53px;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 57px;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%);
    background-size: 100% 100%;
    z-index: 10;
  }
}
// tablet
@media (min-width: $tablet-width) {
  .jumbotron--form {
    min-height: 290px;

    background-image: url("../img/back-tablet.jpg");
    background-position: 50% -56px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: cover;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 57px;
      background-image: url("../img/intro-triangle-t.svg");
      background-repeat: no-repeat;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%);
      background-size: 100% 100%;
      z-index: 10;
    }
  }
}

// desktop
@media (min-width: $desktop-width) {
  .jumbotron--form {
    min-height: 301px;

    background-image: url("../img/back-desktop.jpg");
    background-position: 50% -56px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: cover;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/intro-triangle-d.svg");
      background-repeat: no-repeat;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%);
      width: 1200px;
      height: 57px;
      z-index: 10;
    }
  }
}

// CATALOG********************************************************

.jumbotron--catalog {
  // position: relative;
  background-image: url("../img/back-mobile.jpg");
  background-position-y: -53px;
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 57px;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%);
    background-size: 100% 100%;
    z-index: 10;
  }
}

// tablet
@media (min-width: $tablet-width) {
  // .jumbotron {
  //   min-height: 290px;
  // }

  .jumbotron--catalog {
    min-height: 290px;
    background-image: url("../img/back-tablet.jpg");
    background-position: 50% -56px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: cover;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 57px;
      background-image: url("../img/intro-triangle-t.svg");
      background-repeat: no-repeat;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%);
      background-size: 100% 100%;
      z-index: 10;
    }
  }
}

// desktop
@media (min-width: $desktop-width) {
  .jumbotron--catalog {
    min-height: 301px;
    background-image: url("../img/back-desktop.jpg");
    background-position: 50% -56px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: cover;
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/intro-triangle-d.svg");
      background-repeat: no-repeat;
      left: 50%;
      bottom: -1px;
      transform: translate(-50%);
      width: 1200px;
      height: 57px;
      z-index: 10;
    }
  }
}


//


.jumbotron--img {
  position: relative;
  overflow: hidden;
}

.jumbotron.jumbotron--index .jumbotron__welcome {
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translate(-50%);
  top: 52px;
}

@media (min-width: $tablet-width) {
  .jumbotron.jumbotron--index .jumbotron__welcome {
    top: 77px;
  }
}

.jumbotron .jumbotron__welcome {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 52px;
}

@media (min-width: $tablet-width) {
  .jumbotron .jumbotron__welcome {
    top: 95px;
  }
}

@media (min-width: $desktop-width) {
  .jumbotron .jumbotron__welcome{
    top: 102px;
  }
}
