.jumbotron {
  background-color: $background-img;
  background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  min-height: 159px;
  background-repeat: no-repeat, no-repeat;
  background-size:  100 auto, cover;
  background-position: 0 100%, 0 0;
  /* padding: 77px 0 81px; */
}

@media(min-width: $tablet-width) {
  .jumbotron {
  min-height: 291px;
  }
}

@media( min-width: $desktop-width) {
  .jumbotron {
  min-height: 305px;
  }
}
.jumbotron--index {
  min-height: 389px;
}
@media(min-width: $tablet-width) {
  .jumbotron.jumbotron--index {
  min-height: 518px;
  }
}
.jumbotron__welcome {
  /* display: block; */
  width: 282px;
  margin: 0 auto;
}
