.main-filter {
    margin: 0 20px;
  }

  .main-filter__fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  .main-filter__button {
    margin: 0 auto;
  }


//
  .main-filter__fieldset--initials {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .main-filter__title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: $font-color-title;
    /* margin: 15px */
  }

  .main-filter__wrap{
    @include mixin;
  }

  .main-filter__subtitle {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: $font-color-base;
    /* margin-bottom: 10px; */
  }

  .main-filter__input {
    height: 58px;
    font-size: 18px;
    line-height: 26px;
    padding-left: 22px;
    background-color: $background-input;
    border: none;
  }

  .main-filter__box:not(:last-child) {
    margin-bottom: 20px;
  }

//
  .main-filter__fieldset--contact {
    padding-top: 20px;
    padding-bottom: 28px;
  }

//
  .main-filter__fieldset--impression {
    padding-top: 20px;
    padding-bottom: 31px;
  }

  .main-filter__label {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: $font-color-title;
    text-transform: capitalize;
  }
  .main-filter__radio:not(:last-child) {
    margin-bottom: 21px;
  }

//
  .main-filter__fieldset--attraction {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .main-filter__checkbox:not(:last-child) {
    margin-bottom: 34px;
  }
//
  .main-filter__fieldset--emotions {
    padding-top: 20px;
    padding-bottom: 51px;
  }

  .main-filter__textarea {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $font-color-title;
    height: 160px;
    padding: 13px 23px 29px 21px;
    background-color: $background-input;
  }
