/*menu*/
.menu {
  @include mixin;
  padding: 0;
  margin: 0;
  // padding-bottom: 56px;

   @media (min-width: $tablet-width) {
  width: 768px;
  }

   @media (min-width: $desktop-width) {
  width: 1200px;
  }
}


.menu__item {
  /* list-style: none;
  padding: 0 73px; */
}

@media (min-width: $tablet-width ) {
  .menu__item {
  background-color: transparent;
  }

  .menu__item:nth-child(1) {
  margin-left: 48px;
  margin-right: 75px;
  }

  .menu__item:nth-child(2) {
  margin-right: auto;
  }

  .menu__item:nth-child(4) {
  margin-right: 28px;
  margin-left: 49px;
  }
  }

@media(min-width: $desktop-width) {
  .menu__item:nth-child(1) {
  margin-left: 90px;
  margin-right: 165px;
  }

  .menu__item:nth-child(4) {
  margin-right: 70px;
  margin-left: 140px;
  }
  }


.menu__link {
  display: block;
  padding: 13px 15px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color: $white;
  font-weight: bold;
  // line-height: 26px;
}

.menu__link--active {
  color: $font-color-active;
}
