//variables
$background-page: #e7e5e5;

$background-body-base: #ffffff;
$background-block: #eeeeee;
$background-block-second: #81b3d2;

$background-color-second: #ddebf4;

$background-color-map: #eeeeee;
$background-color-photo: #eaeaea;

$background-input: #f2f2f2;
$background-input--active: #d5d5d5;

$input-block: #e6e6e6;

$black: #000000;
$white: #ffffff;

$font-color-base: #333333;
$font-color-second: $white;
$font-color-title: $black;

$menu-active: #766357;
$menu-hover: #604e43;


$font-family-base: "PT Sans", "Arial", sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;

$background-btn: #81b3d2;
$background-btn--hover: #669ec0;
$background-btn--active: #5496bd;
$background-btn--disabled:#e5e5e5;


$border-color: #d6d6d6;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 320px;

//mixins

@mixin mixins {
  padding: 0;
  margin: 0;
  list-style: none;
}

//

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
    local("PTSans-Regular"),
    url("../../fonts/ptsans.woff2") format("woff2"),
    url("../../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
    local("PTSans-Bold"),
    url("../../fonts/ptsansbold.woff2") format("woff2"),
    url("../../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

//

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

// мое = его
//page = page

.page {
  height: 100%;
}

// page__body = page__body

.page__body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  text-transform: uppercase;
  // background-color: $white;
  background-color: $background-page;
}

//container = page-wrapper

.container {
  background-color: $white;
  box-shadow: 0px 2px 14px -3px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  min-width: 320px;
  max-width: 520px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  // box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1200px;
  }
}

//
// header
//

//header = page-header

// header__navigation = navigation

.header__navigation {
  padding-bottom: 56px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .header__navigation {
    padding-bottom: 0;
  }
  .header__toggle {
    display: none;
  }
}


//

.header__navigation--closed .header__toggle::before {
  content: "";
  position: absolute;
  bottom: 17px;
  right: 1px;
  width: 23px;
  height: 4px;
  background-color: $background-btn;
  box-shadow: 0 8px 0 0 $background-btn, 0 16px 0 0 $background-btn;
}

.header__navigation--closed .header__toggle:hover::before {
  opacity: 0.6;
}

.header__navigation--closed .header__toggle:active::before {
  opacity: 0.3;
}

.header__navigation--opened .header__toggle--off {
  top: 17px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    right: -3px;
    top: 9px;
    height: 4px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.header__navigation--nojsj .header__toggle {
  display: none;
}

.header__navigation--closed .menu__item {
  display: none;
}

// header__logo = navigation__logo

.header__logo {
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}


// header__toggle = navigation__toggle

.header__toggle {
  position: absolute;
  bottom: 17px;
  right: 20px;
  z-index: 2;
  width: 23px;
  height: 22px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

// header__menu = navigation__list

// menu = site-list

.menu {
  @include mixins;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .menu {
    display: flex;
  }
}

// menu__item = site-list__item

.menu__item {
  background-color: $background-block-second;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: $background-btn--hover;
  }

  &:active {
    background-color: $background-btn--active;
  }
}

.menu__item:not(:last-child) {
  border-bottom: 1px solid rgba($color: #010101, $alpha: 0.2);
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.menu__item:last-child {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.menu__item:last-child .menu__link {
  box-shadow: 0 -7px 7px -7px rgba(1, 1, 1, 0.2) inset;
}

@media (min-width: $tablet-width) {
  .menu__item {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }

  .menu__item:not(:last-child) {
    border: none;
    box-shadow: none;
  }

  .menu__item:last-child .menu__link {
    box-shadow: none;
  }

  .menu__item:nth-child(1) {
    margin-left: 48px;
    margin-right: 77px;
  }

  .menu__item:nth-child(2) {
    margin-right: auto;
  }

  .menu__item:nth-child(4) {
    margin-right: 28px;
    margin-left: 49px;
  }
}

@media (min-width: $desktop-width) {
  .menu__item:nth-child(1) {
    margin-left: 90px;
    margin-right: 165px;
  }

  .menu__item:nth-child(4) {
    margin-right: 70px;
    margin-left: 140px;
  }
}

// menu__link = site-list__link
// menu__link--active = site-list__link--active
.menu__link {
  display: block;
  padding: 8px 20px 7px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: $font-color-second;

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: $tablet-width) {
  .menu__link {
    color: $black;
    font-size: 14px;
    padding: 8px 0;

    &:hover {
      color: $background-btn;
    }

    &:active {
      color: $black;
      opacity: 0.3;
    }
  }

  .menu__link--active {
    color: $menu-active;

    &:hover {
      color: $menu-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

//
// main
//

//jumbotron = page-main__image-wrapper

.jumbotron {
  background-color: $background-color-second;
  min-height: 159px;
  // background-image: url("../img/intro-triangle.svg"), url("../img/back-mobile.jpg");
  // background-repeat: no-repeat, no-repeat;
  // background-size:  100 auto, cover;
  // background-position: 0 100%, 0 0;

}

@media (min-width: $tablet-width) {
  .jumbotron {
    min-height: 291px;
  }
}

@media (min-width: $desktop-width) {
  .jumbotron {
    min-height: 305px;
  }
}

// .jumbotron--index = page-main__image-wrapper--index


.jumbotron .jumbotron--index {
  min-height: 389px;
}

@media (min-width: $tablet-width) {
  .jumbotron .jumbotron--index {
    min-height: 518px;
  }
}
// jumbotron--img = image-wrapper
// jumbotron__welcome = image-wrapper__image

.jumbotron--img {
  position: relative;
}

.jumbotron.jumbotron--index .jumbotron__welcome {
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translate(-50%);
}

.jumbotron .jumbotron__welcome {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
}

//description = page-main__text-unit

.description {
  padding: 35px 20px 30px;
  border-bottom: 1px solid $border-color;
  // background-image: url(../img/white-copy-2.svg);
  // background-repeat: no-repeat;
  // background-size: 100% 20%, cover;
  // background-position: 0 100%;
  // background-color: blue;
}

@media (min-width: $tablet-width) {
  .description{
    padding: 35px 20px 53px;
  }
}

@media (min-width: $desktop-width) {
  .description {
    padding: 36px 20px 40px;
  }
}

//description__content = unit-wrap

.description__content {
  max-width: 450px;
  margin: 0 auto;

  &--form {
    max-width: 440px;
    margin: 0 auto;
  }

  &--catalog {
    max-width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .description__content {
    max-width: 490px;
    margin: 0 auto;
  }

  .description {
    border-bottom: none;
  }
}
//description__title = page-main__title

.description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $font-color-title;
  padding: 0 10px 30px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .description__title{
    font-size: 21px;
    padding: 10px 10px 30px;
  }

  .description__title--form {
    font-size: 30px;
    padding-bottom: 33px;
  }

  // .description__title--catalog {
  //   font-size: 30px;
  // }
}

@media (min-width: $desktop-width) {
  .description__title {
    padding: 22px 10px 30px;
  }
}

// description__sublitle = page-main__text

.description__sublitle {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  color: $font-color-base;
  margin: 0;
}

//
//
//FORM
//
//description__content--form = unit-wrap--form
// description__title--form = page-main__title--form

.description__content--form .description__sublitle {
  line-height: 24px;
}

.description.description__content--form {
  padding-top: 35px;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .description.description__content--form {
    padding-top: 51px;
    padding-bottom: 88px;
  }
}

@media (min-width: $desktop-width) {
  .description.description__content--form {
    padding-top: 85px;
    padding-bottom: 58px;
  }

  .description__title--form {
    padding-bottom: 34px;
  }
}

//
// advantages = advantages

//
// advantages__item = advantages__unit
// advantages-blue = main-unit
// advantages-blue--reverse = main-unit--reverse

@media (min-width: $tablet-width) {
  .advantages-blue {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .advantages-blue.advantages-blue--reverse {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

// advantages-blue__box = main-unit__description

.advantages-blue__box {
  padding: 50px 13px 39px 13px;
  text-align: center;
  color: $font-color-second;
  background-color: $background-block-second;
}

.advantages-blue--reverse .advantages-blue__box{
  padding-top: 38px;
  padding-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .advantages-blue__box {
    max-height: 256px;
    padding: 40px 32px 43px;
  }

  .advantages-blue--reverse .advantages-blue__box {
    grid-row: 1/2;
    grid-column: 2/3;
    max-height: 256px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages-blue__box {
    padding: 47px 52px 56px 53px;
  }
}

// advantages-blue__title = main-unit__title

.advantages-blue__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  padding-bottom: 12px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages-blue__title {
    font-size: 21px;
    padding: 0 34px 14px;
  }

  .advantages-blue--reverse .advantages-blue__title {
    padding: 44px 53px 13px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-blue__title {
    padding: 0 85px 14px;
  }

  .advantages-blue--reverse .advantages-blue__title {
    padding: 51px 125px 13px;
  }
}
// advantages-blue__number = main-unit__number

.advantages-blue__number{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 16px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages-blue__number {
    padding-bottom: 23px;
  }
}

// advantages-blue__description = main-unit__text

.advantages-blue__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages-blue--reverse .advantages-blue__description {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-blue__description {
    padding: 0 16px;
  }

  .advantages-blue--reverse .advantages-blue__description {
    padding: 0 86px;
  }
}


// advantages__item-img = main-unit__image-wrapper

.advantages__item-img {
  background-color: $background-color-photo;
  min-height: 260px;
}

@media (min-width: $tablet-width) {
  .advantages__item-img {
    min-height: 256px;
  }
}

// advantages__img-pic = main-unit__image

//
// advantages__list = advantages-list
.advantages-list {
  @include mixins;
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// advantages-list--first = advantages-list--first

.advantages-list--first {
  padding: 35px 20px 10px;
}

.comma,
.but {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages-list--first {
    margin: 0;
    padding: 158px 0 61px;
    text-align: center;
  }

  .advantages-list__item--first:nth-child(2) {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .advantages-list__item--first:nth-child(1) .advantages-list__item-description {
    padding: 0 35px;
  }

  .advantages-list__item--first:nth-child(2) .advantages-list__item-description {
    padding: 0 32px;
  }

  .advantages-list__item--first:nth-child(3) .advantages-list__item-description {
    padding: 0 52px;
  }

  .but {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advantages-list--first {
    padding-bottom: 82px;
  }

  .advantages-list__item--first:nth-child(1) .advantages-list__item-description {
    padding: 0 74px;
  }

  .advantages-list__item--first:nth-child(2) .advantages-list__item-description{
    padding: 0 80px;
  }

  .but {
    display: none;
  }

  .comma {
    display: block;
  }
}

// advantages-list__item = advantages-list__item
// advantages-list__item--first = advantages-list__item--first

.advantages-list__item--first {
  position: relative;
}

// advantages-list__item--house = advantages-list__item--house
// advantages-list__item--gift = advantages-list__item--gift
// advantages-list__item--burger = advantages-list__item--burger

.advantages-list__item--house::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -10px;
  left: 0;
  background-image: url("/img/icons/icon-house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 39px 37px;
}

.advantages-list__item--gift::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 38px;
  top: -10px;
  left: 5px;
  background-image: url("/img/icons/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 38px;
}

.advantages-list__item--burger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 35px;
  top: -5px;
  left: 0;
  background-image: url("/img/icons/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 35px;
}

@media (min-width: $tablet-width) {
  .advantages-list__item--house::before {
    top: -98px;
    left: 50%;
    transform: translate(-50%);
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
  }

  .advantages-list__item--gift::before {
    top: -101px;
    left: 50%;
    transform: translate(-50%);
    width: 64px;
    height: 75px;
    background-size: 64px 75px;
  }

  .advantages-list__item--burger::before {
    top: -95px;
    left: 50%;
    transform: translate(-50%);
    width: 76px;
    height: 68px;
    background-size: 76px 68px;
  }
}

// advantages-list__item-title = advantages-list__item-title

.advantages-list__item--first .advantages-list__item-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color-title;
  margin: 0;
  padding-left: 49px;
  padding-bottom: 17px;
}

// advantages-list__item-title--house = advantages-list__item-title--house
// advantages-list__item-description = advantages-list__item-text

.advantages-list__item--first .advantages-list__item-description {
  padding-left: 50px;
  padding-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .advantages-list__item--first .advantages-list__item-title {
    font-size: 21px;
    padding-left: 0;
    padding-bottom: 22px;
  }
}

.advantages-list__item-description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $font-color-base;
  margin: 0;
  padding-bottom: 25px;
}

//
//advantages-list__item-number = advantages-list__item-number

.advantages-list__item-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $font-color-base;
  padding-bottom: 27px;
  margin: 0;
}

// advantages-list--gray = advantages-list--second

.advantages-list--gray {
  background-color: $background-block;
  text-align: center;
}

.advantages-list--gray .advantages-list__item {
  padding-top: 13px;
  margin: 0 20px;
}

.advantages-list__item--gray:nth-child(2) {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.advantages-list__item--gray .advantages-list__item-title {
  font-size: 18px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 12px;
}

.advantages-list__item--gray .advantages-list__item-number {
  padding-bottom: 19px;
}

.advantages-list__item--gray .advantages-list__item-description {
  padding-bottom: 22px;
}

.advantages-list__item--gray:nth-child(2) .advantages-list__item-description {
  padding: 0 20px 22px;
}

.advantages-list__item--gray:nth-child(3) .advantages-list__item-description {
  padding: 0 15px 22px;
}

@media (min-width: $tablet-width) {
  .advantages-list__item--gray:nth-child(2) {
    border: none;
  }

  .advantages-list__item--gray .advantages-list__item-title {
    font-size: 21px;
    line-height: 26px;
    padding-top: 30px;
  }

  .advantages-list__item--gray .advantages-list__item-number {
    padding-bottom: 23px;
  }

  .advantages-list__item--gray:nth-child(2) .advantages-list__item-title {
    padding: 30px 20px 12px;
  }

  .advantages-list__item--gray:nth-child(2) .advantages-list__item-description{
    padding: 0 37px 42px;
  }

  .advantages-list__item--gray:nth-child(3) .advantages-list__item-title {
    padding: 30px 30px 12px;
  }

  .advantages-list__item--gray:nth-child(3) .advantages-list__item-description {
    padding: 0 25px 42px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-list__item--gray:nth-child(1) .advantages-list__item-title {
    padding: 30px 70px 12px;
  }

  .advantages-list__item--gray:nth-child(1) .advantages-list__item-description {
    padding: 0 30px 63px;
  }

  .advantages-list__item--gray:nth-child(2) .advantages-list__item-title {
    padding: 30px 92px 12px;
  }

  .advantages-list__item--gray:nth-child(2) .advantages-list__item-description {
    padding: 0 45px 63px;
  }

  .advantages-list__item--gray:nth-child(3) .advantages-list__item-title {
    padding: 30px 105px 12px;
  }
}

//

//booking = hotel-search

.booking {
  padding-top: 37px;
  padding-bottom: 49px;
}

// booking__content = search-wrap

.booking__content {
  max-width: 498px;
  margin: 0 auto;
}

//

.hotel-comma {
  display: none;
}

// booking__title = hotel-search__title

.booking__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: $font-color-title;
  margin: 0 20px;
  padding-bottom: 21px;
}

// booking__description = hotel-search__direction

.booking__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  text-align: center;
  color: $font-color-base;
  padding-bottom: 27px;
  margin: 0 20px;
}

// booking__button = hotel-search__button

.booking__button {
  margin: 0 20px;
}

//
@media (min-width: $tablet-width) {
  .booking {
    padding-top: 57px;
    padding-bottom: 58px;
  }

  .booking__title {
    font-size: 30px;
    padding-bottom: 33px;
  }

  .booking__description {
    padding: 0 10px 38px;
  }

  .hotel-comma {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .booking {
    padding-bottom: 66px;
  }

  .booking__description {
    padding-bottom: 43px;
  }
}


// map = map

// map__iframe = map__interactive

.map__iframe {
  background-color: $background-color-map;
  min-height: 350px;
  width: 100%;
}

// map__marker = map__marker


//
// footer
//

// footer = page-footer

.footer {
  padding-top: 39px;
  display: flex;
  flex-direction: column;
}

// footer__unit = page-footer__unit

.footer__unit {
  text-align: center;
}

.footer__unit:last-child {
  display: flex;
  justify-content: center;
}

// footer__hashtag = page-footer__hashtag

.footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $font-color-title;
  padding-bottom: 33px;
  margin: 0;
}

// social = social

.social {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins;
}

// social__item = social__item

.social__item {
  width: 46px;
  height: 48px;
  padding-bottom: 44px;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

// social__link = social__link

.social__link {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.social__link:active img {
  opacity: 0.3;
}

// copyright__text = page-footer__copyright-text

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

// copyright__link = page-footer__copyright-link

.copyright__link {
  position: relative;
  display: block;
  color: $black;
  padding-right: 38px;
}

// copyright__logo = copyright-icon

.copyright__logo {
  position: absolute;
  right: -1px;
  top: -4px;
  width: 27px;
  height: 34px;
  fill: $black;

  &:hover {
    fill: $background-btn;
  }

  &:active {
    fill: $black;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 36px;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__hashtag {
    padding-top: 13px;
  }

  .copyright__text {
    padding-top: 13px;
    margin-left: 10px;
  }

  .footer__unit:nth-child(1) {
    margin-left: 61px;
  }

  .footer__unit:nth-child(3) {
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    margin-left: 3px;
  }

  .footer__unit:nth-child(1) {
    margin-left: 118px;
  }

  .footer__unit:nth-child(3) {
    margin-right: 120px;
  }
}



// button = button

.button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 13px 10px;
  border: 3px solid $background-btn;
  font-family: $font-family-base;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: $font-color-second;
  text-decoration: none;
  background-color: $background-btn;
  cursor: pointer;

  &:hover {
    border-color: $background-btn--hover;
    background-color: $background-btn--hover;
  }

  &:active {
    border-color: $background-btn--active;
    background-color: $background-btn--active;
    color: rgba($font-color-second, 0.3);
  }

  &:disabled {
    border-color: $background-btn--disabled;
    background-color: $background-btn--disabled;
  }
}

//
//FORM****************************
//

//
// feedback =

// form
// feedback__form = review-form

@media (min-width: $tablet-width) {
  .feedback__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
    position: relative;
  }

  .feedback__form::before {
    content: "";
    position: absolute;
    width: 292px;
    height: 1px;
    background-color: $border-color;
    z-index: 100;
    left: 50%;
    top: 148px;
    transform: translate(-50%) rotate(90deg);
  }

  .feedback__form-fieldset {
    padding: 0;
  }
            // feedback__form-button--wrap = review-form__button-wrapper
            // feedback__form-button = review-form__button
            // feedback__form--required-field = review-form__required-field-note

  .feedback__form-button--wrap {
    grid-row: 5/6;
    grid-column: 1/3;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 61px;
  }

  .feedback__form-button {
    flex-grow: 0;
    width: 324px;
    padding: 15px 18px 11px 7px;
  }

  .feedback__form--required-field {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__form {
    padding: 0 120px;
  }

  .feedback__form-button {
    flex-grow: 0;
    width: 480px;
    padding: 15px 5px 11px 7px;
  }

  .feedback__form-button--wrap {
    margin-bottom: 65px;
  }
}

// fieldset
// feedback__form-fieldset = review-form__fieldset

.feedback__form-fieldset {
  margin: 0;
  padding: 0 20px;
  border: none;
}

// *************************************************************************************
// fieldset-initials = fieldset-name

.fieldset-initials  {
  border-bottom: 1px solid $border-color;
  padding-bottom: 4px;
}

// legend
//fieldset-initials__title = fieldset-name__legend

.fieldset-initials__title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}


// div= ul
//fieldset-initials__wrap = fieldset-name__input-wrap
// wrap-input = input-wrap

.wrap-input {
  margin: 0 20px;

  @include mixins;
}

@media (min-width: $tablet-width) {
  .wrap-input {
    margin: 0;
  }
}

//div= li
// fieldset-initials__box = fieldset-name__input-box

.fieldset-initials__box {
  display: flex;
  padding-bottom: 20px;
}

// label
// fieldset-initials__subtitle =fieldset-name__label

.fieldset-initials__subtitle {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: $font-color-base;
  padding-top: 17px;
  padding-right: 13px;
}

// input
// fieldset-initials__input = fieldset-name__input

.fieldset-initials__input {
  flex-grow: 1;
  padding: 0;
  height: 58px;
  background-color: $background-input;
  border: none;
}

.fieldset-initials__input:hover {
  background-color: $background-btn--disabled;
}

.fieldset-initials__input:active {
  background-color: $white;
  box-shadow: inset 0 0 0 4px $background-btn--disabled;
}
      // ?
.fieldset-initials__input[placeholder] {
  font-family: $font-family-base;
  padding-left: 23px;
  font-weight: 700;
  font-size: 18px;
}

//

@media (max-width: $mobile-width-only) {
  .fieldset-initials__input {
    width: 100px;
  }
}

@media (min-width: $tablet-width) {
  .fieldset-initials {
    grid-row: 1/2;
    grid-column: 2/3;
    border-bottom: none;
    position: relative;
  }

  .fieldset-initials__title {
    font-size: 21px;
    text-align: right;
    margin-right: 105px;
    padding-top: 0;
    padding-bottom: 55px;
  }

  .fieldset-initials__subtitle {
    margin-left: auto;
  }

  .fieldset-initials__input{
    flex-grow: 0;
  }

  .fieldset-initials__input[name="firstname"] {
    width: 194px;
  }

  .fieldset-initials__input[name="surmane"] {
    width: 156px;
  }

  .fieldset-initials__input[name="middle_name"] {
    width: 158px;
  }

  .fieldset-initials__box:last-child {
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-initials__title {
    font-size: 21px;
    text-align: left;
    margin-left: 78px;
    padding-bottom: 55px;
  }

  .fieldset-initials__input[name="firstname"] {
    width: 326px;
  }

  .fieldset-initials__input[name="surname"] {
    width: 288px;
  }

  .fieldset-initials__input[name="middle_name"] {
    width: 291px;
  }

  .fieldset-initials__subtitle {
    padding-right: 15px;
  }
}


//*************************************************************************************

// fieldset
// feedback__form__fieldset = review-form__fieldset
// fieldset-contact = fieldset-contacts

.fieldset-contact {
  border-bottom: 1px solid $border-color;
  padding-bottom: 12px;
}


// legend
//fieldset-contact__title = fieldset-contacts__legend

.fieldset-contact__title  {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

// div= ul
//fieldset-contacT__wrap = fieldset-contacts__input-wrap
// wrap-input = input-wrap

//div= li
// fieldset-contact__box = fieldset-contacts__input-box

.fieldset-contact__box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.fieldset-contact__box::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  right: 0;
  top: 32px;
  background-color: $input-block;
}

// fieldset-contact__box--number = fieldset-contacts__input-box--phone

.fieldset-contact__box--number::after {
  content: "";
  position: absolute;
  background-image: url("../../img/phone.svg");
  width: 18px;
  height: 18px;
  right: 20px;
  top: 50px;
}

// label
// fieldset-contact__subtitle = fieldset-contacts__label
// word-contact = word-contact

.fieldset-contact__subtitle {
  font-size: 14px;
  font-weight: 26px;
  padding-left: 20px;
  padding-bottom: 11px;
}

// input
// fieldset-contact__input = fieldset-contacts__input

.fieldset-contact__input {
  flex-grow: 1;
  height: 58px;
  font-family: $font-family-base;
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 0 22px;
  border: none;
  background-color: $background-input;
  margin-bottom: 14px;
}

// li
// fieldset-contact__box--email = fieldset-contacts__input-box--email

.fieldset-contact__box--email::after {
  content: "";
  position: absolute;
  background-image: url("../../img/mail.svg");
  width: 16px;
  height: 12px;
  right: 20px;
  top: 52px;
}

@media (min-width: $tablet-width) {
  .fieldset-contact {
    grid-row: 2/3;
    grid-column: 1/3;
    border-bottom: none;
    position: relative;
    border-top: 2px solid $border-color;
    padding-bottom: 23px;
  }

  .fieldset-contact__title {
    display: block;
    padding: 26px 61px 23px;
    font-size: 21px;
    position: relative;
  }

  .fieldset-contact__input[type="tel"] {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-contact {
    padding-bottom: 13px;
  }

  .fieldset-contact__wrap {
    display: flex;
    justify-content: space-between;
  }

  .word-contact {
    display: none;
  }

  .fieldset-contact__title {
    padding-top: 25px;
    margin-bottom: 48px;
  }

  .fieldset-contact__box {
    flex-direction: row;
  }

  .fieldset-contact__input{
    width: 316px;
  }

  .fieldset-contact__input[placeholder] {
    margin-left: 18px;
  }

  .fieldset-contact__subtitle {
    padding-top: 20px;
    padding-left: 0;
  }

  .fieldset-contact__box::before {
    top: 0;
  }

  .fieldset-contact__box--number::after {
    top: 20px;
  }

  .fieldset-contact__box--email::after {
    top: 23px;
  }

  .fieldset-contact__input[type="tel"] {
    width: 292px;
  }

  .fieldset-contact__input[type="email"] {
    width: 292px;
  }
}




// ********************************************************************************
// fieldset
// feedback__form__fieldset = review-form__fieldset
// fieldset-impression" = fieldset-impression

.fieldset-impression {
  border-bottom: 1px solid $border-color;
}

// legend
//fieldset-impression__title = fieldset-impression__legend

.fieldset-impression__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 37px;
  text-align: center;
}

// div= ul
//fieldset-impression__wrap = fieldset-impression__input-wrap
// wrap-input = input-wrap

//div= li
// fieldset-impression__radio = fieldset-impression__input-box

// label
// fieldset-impression__label = fieldset-impression__label

.fieldset-impression__label {
  display: block;
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  position: relative;
  padding-left: 78px;
  padding-bottom: 43px;
  cursor: pointer;
}

.fieldset-impression__label::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: $background-input;
  left: 0;
  top: -15px;
  border-radius: 50%;
}

.fieldset-impression__label:hover::before {
  background-color: $background-btn--disabled;
}

.fieldset-impression__label:active::before {
  background-color: $background-input--active;
}

.fieldset-impression__label:active::after {
  opacity: 0.3;
}


.fieldset-impression__label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../../img/radio-dot.svg");
  background-position: center;
  background-size: 22px 22px;
  left: 17px;
  top: 1px;
  display: none;
}

// input
// fieldset-impression__input = fieldset-impression__input

.fieldset-impression__input:checked + .fieldset-impression__label::after {
  display: block;
}

//

@media (min-width: $tablet-width) {
  .fieldset-impression {
    grid-row: 1/2;
    grid-column: 1/2;
    border-bottom: none;
  }

  .fieldset-impression__title {
    font-size: 21px;
    text-align: left;
    padding: 0 0 72px 0;
  }

  .fieldset-impression__label {
    padding: 0 0 52px 75px;
  }

  .fieldset-impression__label[for="no_answer"] {
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-impression__title {
    margin-left: 79px;
  }

  .fieldset-impression__label {
    padding-left: 80px;
  }

  .fieldset-impression__label::before {
    left: 6px;
  }

  .fieldset-impression__label::after {
    left: 22px;
  }
}


// ******************************************************************************************
//feedback__form-fieldset = review-form__fieldset
//fieldset-attractioN = fieldset-attractions

.fieldset-attraction {
  padding-bottom: 30px;
  border-bottom: 1px solid $border-color;
}

//fieldset-attraction__title = fieldset-attractions__legend

.fieldset-attraction__title {
  padding: 15px 20px 34px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

//fieldset-attraction__wrap = fieldset-attractions__input-wrap
// wrap-input = input-wrap
//fieldset-attraction__checkbox = fieldset-attractions__input-box
//fieldset-attraction__label = fieldset-attractions__label

.fieldset-attraction__label {
  text-transform: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  display: block;
  position: relative;
  padding-bottom: 54px;
  padding-left: 79px;
  cursor: pointer;
}

.fieldset-attraction__label[for="red-rocks"] {
  padding-bottom: 10px;
}

.fieldset-attraction__label::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: $background-input;
  border-radius: 5px;
  left: 0;
  top: -15px;
}


.fieldset-attraction__label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  background-image: url("../../img/tick.svg");
  left: 16px;
  top: 5px;
  display: none;
}


.fieldset-attraction__label:hover::before {
  background-color: $background-btn--disabled;
}

.fieldset-attraction__label:active::before {
  background-color: $background-input--active;
}

.fieldset-attraction__label:active::after {
  opacity: 0.3;
}



//fieldset-attraction__input = fieldset-attractions__input

.fieldset-attraction__input:checked + .fieldset-attractions__label::after {
  display: block;
}

@media (min-width: $tablet-width) {
  .fieldset-attraction {
    grid-row: 3/4;
    grid-column: 1/3;
    border-bottom: none;
    border-top: 2px solid $border-color;
    padding-bottom: 0;
  }

  .fieldset-attraction__title {
    width: 360px;
    font-size: 21px;
    padding-bottom: 13px;
    margin-bottom: 44px;
  }

  .fieldset-attraction__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .fieldset-attraction__checkbox {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .fieldset-attraction__label {
    padding-bottom: 63px;
  }

  .fieldset-attraction__label[for="devils-bridge"] {
    margin-left: auto;
    padding-right: 39px;
  }

  .fieldset-attraction__label[for="slide-park"] {
    margin-left: auto;
    padding-right: 59px;
  }

  .fieldset-attraction__label[for="mountain_bell"] {
    margin-right: auto;
    margin-left: 32px;
  }

  .fieldset-attraction__label[for="red-rocks"] {
    margin-right: auto;
    margin-left: 32px;
  }
}

@media (min-width: $desktop-width) {
  .fieldset-attraction__wrap {
    flex-wrap: nowrap;
    justify-content: left;
  }

  .fieldset-attraction__checkbox {
    width: auto;
  }

  .fieldset-attraction__label[for="slide-park"] {
    margin-left: 69px;
  }

  .fieldset-attraction__label[for="mountain_bell"] {
    margin-right: 0;
    margin-left: 35px;
  }

  .fieldset-attraction__label[for="red-rocks"] {
    margin-right: 0;
    margin-left: 11px;
  }
}

//*******************************************************************************
// feedback__form-fieldset = review-form__fieldset
// fieldset-emotions = fieldset-emotions

.fieldset-emotions {
  padding: 0 20px;
  display: flex;
}

// fieldset-emotions__title = fieldset-emotions__legend

.fieldset-emotions__title {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

// fieldset-emotions__textarea = fieldset-emotions__textarea

.fieldset-emotions__textarea {
  flex-grow: 1;
  height: 145px;
  border: none;
  resize: none;
  background-color: $background-input;
  margin-bottom: 51px;
  padding-top: 13px;
  padding-left: 21px;
  padding-right: 10px;
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .fieldset-emotions {
    grid-row: 4/5;
    grid-column: 1/3;
    padding: 0;
    border-top: 2px solid $border-color;
  }

  .fieldset-emotions__title {
    font-size: 21px;
    padding: 19px 75px 20px;
    margin-bottom: 36px;
  }

  .fieldset-emotions__textarea {
    padding-top: 18px;
    height: 140px;
    margin-bottom: 58px;
  }
}


// ********************************************************************************
// feedback__form-button--wrap = review-form__button-wrapper
// feedback__form-button = review-form__button
// feedback__form--required-field = review-form__required-field-note

.feedback__form--required-field {
  display: none;
}

.feedback__form-button--wrap {
  display: flex;
  padding: 0 20px 37px;
  justify-content: center;
}

.feedback__form-button {
  flex-grow: 1;
}

// ***************************************************
